.loadChartContainer {
    margin: 0 auto;
    padding: 5px;
    color: #365c82;
}

.metricLabel {
    display: block;
    text-align: center;
}

.metricValue {
    text-align: center;
    display: block;
    font-size: 3em;
    overflow-x: hidden;
}