.loadChartContainer {
    margin: 0 auto;
}

.loadChart {
    height: 500px;
}

.metrics {
    display: flex;
}

.events, .loadMetric {
    display: block;
    display: flex;
    width: 50%;
}

.loadMetric dt, .events dt {
    margin: 0;
    padding: 10px;
}

.loadMetric dd, .events dd {
    margin: 0;
    padding: 10px;
    overflow-x: hidden;
}
