.loadChartContainer {
    margin: 0 auto;
}

.loadChart {
    height: 500px;
}

.metrics {
    display: flex;
}

.metrics button {
    margin: auto;
    padding: 10px;
    color: #505050;
    font-size: 1em;
    background-color: white;
    font-variant: small-caps;
    border: 1px solid #505050;
    display: flex;
    flex: none;
}
.metrics button:hover {
    background: lightgray;
}

.events, .loadMetric {
    display: block;
    display: flex;
    width: 50%;
    font-size: 1.6em;
}

.loadMetric dt, .events dt {
    margin: 0;
    padding: 10px 10px 10px 0;
    line-height: 3em;
    color: #505050;
    overflow: visible;
}

.loadMetric dd, .events dd {
    margin: 0;
    padding: 10px 30px 10px 0;
    overflow-x: hidden;
    font-size: 2em;
    overflow: visible;
}

.alertIndicator {
    font-size: 0.6em;
    color: rgb(230, 85, 85);
    margin: auto 10px 0 10px;
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.alertIndicator:before {
    font-size: 1rem;
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 15px;
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    background: rgb(230, 85, 85);
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    display: none;
}

.alertIndicator:after {
    content: "";
    position:absolute;
    left:100%;
    margin-left:-5px;
    top:50%;
    transform:translateY(-50%);
   
    /* the arrow */
    border:10px solid rgb(230, 85, 85);;
    border-color: transparent rgb(230, 85, 85) transparent transparent;
    
    display: none;
}

.alertIndicator:hover:before, .alertIndicator:hover:after {
    display: block;
}
